<p>
  <strong>Assunto:</strong>
  <%= @live.subject %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @live.description %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @live.author %>
</p>

<%= link_to 'Editar', edit_live_path(@live) %> |
<%= link_to 'Voltar', lives_path %>
